@import url('https://fonts.googleapis.com/css?family=Mitr:300,400&subset=thai');

body {
  font-family: 'Mitr', sans-serif;
  overflow-x: hidden;
}

p {
  font-weight: 300;
}

.btnSignIn {
  padding: 0.5em 2em;
  background: #fff;
  border: none;
  border-radius: 7px;
  cursor: pointer;
}

form {
  margin: 2em 0.5em !important;
}

/* NAV */

.navbar {
  padding: 0.5em 5em;
  background: #607d8b;
}

.navbar-light .navbar-nav .nav-link {
  color: #fff;
}

.main-logo {
  width: 60px;
}

.navbar-light .navbar-toggler {
  background: #fff;
}

.navbar-nav > li {
  margin: 0 1em;
}

/* SECTION */

main {
  padding: 2em 0;
}

.text-center {
  text-align: center;
  padding: 2em 0;
}

.hero {
  background: #90a4ae;
  color: #fff;
}

.dashboard {
  padding: 2em 6em;
}

@media screen and (max-width: 768px) {
  .dashboard {
    padding: 1em 2em;
  }
}

/* DASHBOARD */
.temp {
  border: 1px solid #009688;
  margin-bottom: 10px;
}
.temp h3 {
  background: #009688;
  color: #fff;
  padding: 0.5em 0.5em;
}
.humid {
  border: 1px solid #00bcd4;
}
.temp,
.humid {
  border-radius: 4px;
}
.humid h3 {
  background: #00bcd4;
  color: #fff;
  padding: 0.5em 0.5em;
}

.dashboard > div {
  padding: 0 0.2em;
}

/* ABOUT US */

.our-project,
.members {
  padding: 5em 0;
}

.members div {
  text-align: center;
}

.members img {
  width: 200px;
  border-radius: 50%;
}

.members p {
  padding-top: 0.5em;
}

/* Devices */
.deviceList {
  padding: 3em;
}

h2.Head {
  text-align: center;
}

.deviceCard {
  max-width: 700px;
  padding: 1em;
  margin: 2em auto;
  border: 1px solid #eee;
  box-shadow: 1px 1px 20px #eee;
  word-break: break-all;
}

.deviceCard p {
  margin-bottom: 0.2em;
}

.deviceIcon {
  text-align: center;
}

.deviceIcon img {
  margin: 0.5em 1em 0 0.5em;
  padding: 1em;
  border: 6px solid #607d8b;
  border-radius: 50px;
}

.btnDeviceGo {
  background: none;
  border: none;
  float: right;
  cursor: pointer;
  font-weight: 200;
}

.btnDeviceAdd {
  background: #607d8b;
  color: #fff;
  width: 60px;
  height: 60px;
  font-size: 2em;
  border: none;
  border-radius: 50px;
  position: absolute;
  left: 70%;
  cursor: pointer;
  box-shadow: 1px 1px 20px #aaa;
}

.btnDeviceAdd:hover {
  color: #fff;
}

.newDevice {
  padding: 3em;
}

.newDevice input[type='text'] {
  width: 100%;
}

.newDevice input[type='submit'] {
  width: 100%;
  background: none;
  border: none;
  text-align: center;
  height: 40px;
}

.deviceInfo {
  padding: 3em 0 1em;
}

.deviceInfo h2 {
  font-weight: 200;
}

h6.subHead {
  color: #888;
  text-align: center;
  font-weight: 100;
}

.loading {
  text-align: center;
  padding: 1em;
  font-size: 1.2em;
}
